* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: cursive;
	font-size: 1.3em;
	
	color: #A0A090;
	background-color: #fefefb;
	border-width: 2px;
	border-color: #A0A090;
	border-style: dashed;
	border-radius: 10px;
	margin: 1px;

	
}

.navbar {
	background-color: transparent;
	border-color: transparent;
	color: white;
}

div {
	/* color: 3474bf; */
	color: white;
	background-color: #9ed4ff;
	border-width: 2px;
	border-style: dashed;
	border-color: lightblue;
	border-radius: 10px;
	margin: 5px;
}

.center {
	background-color: PaleGreen;
	border-color: Green;
	/* max-width: 1366px; */
}



.container {
	background-color: salmon;
	border-color: salmon;
	color: white;
}

a {
	background-color: black;
	color: white;
	text-decoration: none;
	text-align: center;
	border-style: dashed;
	border-color: white;
	border-radius: 10px;
	margin: 2px;
	border-width: 2px;
}

.image1 {
	background-color: Teal;
	
}

.image2 {
	background-color: Teal;
}

.imagemain {
	background-color: Teal;
}



