body{
	background-color: #9BD770;
}

.box {
	background-color: #66B032;
	float: left;
	margin: 0px 0px 0px 10px;
	box-shadow: 6px 6px 5px #888888;
	width: 200px;
	height: 500px;
	text-align: center;
}

.button{
	color: #375F1B;
	border: 3px solid;
	border-radius: 30px;
	text-align: center;
	margin: 20px;
	padding: 9px;
}

a {
	outline: none;
	text-decoration: none;
	color: #375F1B;
	font-weight: bold;
}

.button:hover{
	background-color: #1B3409;
}

